@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Great+Vibes&family=Open+Sans:wght@300&family=Parisienne&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'East Sea Dokdo', cursive; */
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Parisienne', cursive; */
}