@media only screen and (max-width: 376px) and (min-width: 300px) {
    .isi {
        width: 100%;
        height: 49vh;
        margin: auto;
        padding: 10px;
        margin-top: 40px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 0px;
        border-radius: 10px;
        margin-top: 2rem;
    }
    .terjemahan {
        font-size: 1.02rem;
        font-family: "Poppins";
        letter-spacing: 1.2px;
        padding: 10px;
    }
    .surat {
        text-align: center;
        margin-top: 10px;
    }
    .play-surat {
        width: 30px;
        height: 30px;
        margin-top: 3px;
    }
    .footer {
        align-items: center;
        align-self: center;
        text-align: center;
    }
    .circle {
        border: 3px solid #ebebeb;
        border-radius: 70px;
        width: 11%;
        height: 8%;
        margin: auto;
        animation: animated infinite;
        animation-duration: 2s;
    }
    @keyframes animated {
        0% {border: 1px solid black;}
        25% {border: 2px solid white;}
        50% {border: 1px solid #ebebeb;}
        100% {border: 1px solid black;}
    }
}

@media only screen and (max-width: 667px) and (min-width: 377px) {
    .isi {
        width: 100%;
        height: 49vh;
        margin: auto;
        padding: 10px;
        margin-top: 40px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 0px;
        border-radius: 10px;
    }
    .terjemahan {
        font-size: 1.2rem;
        font-family: "Poppins";
        letter-spacing: 1.2px;
        padding: 10px;
    }
    .surat {
        text-align: center;
        margin-top: 10px;
    }
    .play-surat {
        width: 30px;
        height: 30px;
        margin-top: 3px;
    }
    .footer {
        align-items: center;
        align-self: center;
        text-align: center;
    }
    .circle {
        border: 3px solid #ebebeb;
        border-radius: 70px;
        width: 11%;
        height: 8%;
        margin: auto;
        animation: animated infinite;
        animation-duration: 2s;
    }
    @keyframes animated {
        0% {border: 1px solid black;}
        25% {border: 2px solid white;}
        50% {border: 1px solid #ebebeb;}
        100% {border: 1px solid black;}
    }
}