@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Great+Vibes&display=swap');


@media only screen and (max-width: 667px) {
    .wedding {
        height: 82vh;
        width: 90%;
        margin: auto;
        position: relative;
    }
    .konten {
        border-radius: 10px;
        margin-top: 20px;
        /* height: 60vh; */
        width: 90vw;
        height: 72vh;
    }
    .bg {
        background-image: url('../assets/1.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 57.3vh;
        width: 90vw;
        opacity: 0.2;
        z-index: 1;
        position: absolute;
        top: 8rem;
        left: 0em;
        overflow: hidden;
    }
    .tengah {
        text-align: center;
        z-index: 2;
    }
    #cincin {
        width: 80px;
        height: 80px;
        text-align: center;
    }
    .pertama {
        position: absolute;
        z-index: 2;
    }
    .akad, .nikah {
        font-family: 'East Sea Dokdo', cursive;
        font-size: 3.5rem;
        text-align: center;
        font-weight: 600;
        letter-spacing: 3px;
        margin-top: 10px;
        z-index: 2;
        color: black;
    }
    .resepsi1 {
        font-family: 'East Sea Dokdo', cursive;
        font-size: 3.5rem;
        text-align: center;
        font-weight: 600;
        letter-spacing: 3px;
        margin-top: 10px;
        z-index: 2;

    }
    .resepsi2 {
        font-family: 'East Sea Dokdo', cursive;
        font-size: 3.5rem;
        text-align: center;
        font-weight: 600;
        letter-spacing: 3px;
        margin-top: 10px;
        z-index: 2;
    }
    .isian, #resepsi1, #resepsi2 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: "Poppins";
        line-height: 30px;
        color: #656552;
        z-index: 2;
    }

}