

@media only screen and (max-width: 667px) and (min-width: 377px) {
    .isi {
        width: 100%;
        height: 60vh;
        margin: auto;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 0px;
        margin-top: -10px;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .paper {
        width: 90%;
        margin: auto;
        min-height: 340px;
    }
    .terjemahan {
        font-size: 1.2rem;
        font-family: "Poppins";
        letter-spacing: 1.2px;
        padding: 10px;
        text-align: center;
    }
    .surat {
        text-align: center;
        margin-top: 10px;
    }
    .play-surat {
        width: 30px;
        height: 30px;
        margin-top: 3px;
    }
    .footer {
        align-items: center;
        align-self: center;
        text-align: center;
    }
    .circle {
        border: 3px solid #ebebeb;
        border-radius: 70px;
        width: 11%;
        height: 8%;
        margin: auto;
        animation: animated infinite;
        animation-duration: 2s;
    }
    @keyframes animated {
        0% {border: 1px solid black;}
        25% {border: 2px solid white;}
        50% {border: 1px solid #ebebeb;}
        100% {border: 1px solid black;}
    }
}

@media only screen and (max-width: 376px) and (min-width: 300px) {
    .isi {
        width: 100%;
        height: 60vh;
        margin: auto;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 0px;
        margin-top: -10px;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .paper {
        width: 90%;
        margin: auto;
        min-height: 340px;
    }
    .terjemahan {
        font-size: 1.2rem;
        font-family: "Poppins";
        letter-spacing: 1.2px;
        padding: 10px;
        text-align: center;
    }
    .surat {
        text-align: center;
        margin-top: 10px;
    }
    .play-surat {
        width: 30px;
        height: 30px;
        margin-top: 3px;
    }
    .footer {
        align-items: center;
        align-self: center;
        text-align: center;
    }
    .circle {
        border: 3px solid #ebebeb;
        border-radius: 70px;
        width: 11%;
        height: 8%;
        margin: auto;
        animation: animated infinite;
        animation-duration: 2s;
    }
    @keyframes animated {
        0% {border: 1px solid black;}
        25% {border: 2px solid white;}
        50% {border: 1px solid #ebebeb;}
        100% {border: 1px solid black;}
    }
}