/*  */

@media only screen and (max-width: 667px) and (min-width: 300px) {
    .closing {
        width: 100%;
        padding-top: 40px;
        margin: auto;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .close {
        text-align: center;
        font-size: 1.3rem;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: "Poppins";
    }
    .pengantin {
        text-align: center;
        font-size: 3rem;
        padding-top: 10px;
        color: #EDC6A4;
        font-family: 'Great Vibes', cursive;
    }
    .pic-foto {
        padding-top: 20px;
    }
    .border-gallery {
        width: 90%;
        margin: auto;
    }
}