@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Great+Vibes&display=swap');


@media only screen and (max-width: 667px) and (min-width: 377px) {
    .kado {
        width: 100%;
        margin: auto;
        position: relative;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .badan {
        border-radius: 10px;
        width: 85%;
        margin: auto;
        border: 1px solid black;
        background: none;
        padding-top: 20px;
    }
    .kado-title {
        text-align: center;
    }
    .text-title {
        font-size: 3.5rem;
        color: #EDC6A4;
        font-family: 'Great Vibes', cursive;
    }

    .desc {
        text-align: center;
        color: whitesmoke;
        font-size: 20px;
        padding: 10px;
    }

    .gift {
        height: 55vh;
    }
    
}
@media only screen and (max-width: 376px) and (min-width: 277px) {
    .kado {
        width: 100%;
        margin: auto;
        position: relative;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .badan {
        border-radius: 10px;
        width: 85%;
        margin: auto;
        border: 1px solid black;
        background: none;
        padding-top: 20px;
    }
    .kado-title {
        text-align: center;
    }
    .text-title {
        font-size: 3.5rem;
        color: #EDC6A4;
        font-family: 'Great Vibes', cursive;
    }

    .desc {
        text-align: center;
        color: whitesmoke;
        font-size: 20px;
        padding: 10px;
    }

    .gift {
        height: 76vh;
    }
    
}