
@media only screen and (max-width: 700px) and (min-width: 400px) and (max-height: 780px) {
    .pertama {
        height: 80vh;
        padding-top: 40px;
        width: 100%;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .konten {
        width: 85%;
        margin: auto;
        border: 1px solid black;
        padding-top: 20px;
        border-radius: 10px;
    }
    
    .tengah {
        text-align: center;
    }
    
    #cincin {
        width: 80px;
        height: 80px;
        text-align: center;
    }
    
    .bg {
        padding: 20px;
    }
    
    .akad, .nikah {
        color: #EDC6A4;
        font-size: 4rem;
        font-family: 'Great Vibes', cursive;
        text-align: center;
        
    }

    .isian, #resepsi1 {
        color: whitesmoke;
        font-size: 20px;
        text-align: center;
    }

    .resepsi1 {
        margin-top: 20px;
        color: #EDC6A4;
        font-size: 4rem;
        font-family: 'Great Vibes', cursive;
        text-align: center;
    }
}  

@media only screen and (max-width: 700px) and (min-width: 400px) and (min-height: 781px) {
    .pertama {
        height: 60vh;
        padding-top: 40px;
        width: 100%;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .konten {
        width: 85%;
        margin: auto;
        border: 1px solid black;
        padding-top: 20px;
        border-radius: 10px;
    }
    
    .tengah {
        text-align: center;
    }
    
    #cincin {
        width: 80px;
        height: 80px;
        text-align: center;
    }
    
    .bg {
        padding: 20px;
    }
    
    .akad, .nikah {
        color: #EDC6A4;
        font-size: 4rem;
        font-family: 'Great Vibes', cursive;
        text-align: center;
        
    }

    .isian, #resepsi1 {
        color: whitesmoke;
        font-size: 20px;
        text-align: center;
    }

    .resepsi1 {
        margin-top: 20px;
        color: #EDC6A4;
        font-size: 4rem;
        font-family: 'Great Vibes', cursive;
        text-align: center;
    }
}
@media only screen and (max-width: 399px) and (min-width: 200px) {
    .pertama {
        height: 85vh;
        padding-top: 40px;
        width: 100%;
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .konten {
        width: 85%;
        margin: auto;
        border: 1px solid black;
        padding-top: 20px;
        border-radius: 10px;
        margin-top: -10px;
    }
    
    .tengah {
        text-align: center;
    }
    
    #cincin {
        width: 80px;
        height: 80px;
        text-align: center;
    }
    
    .bg {
        padding: 20px;
    }
    
    .akad, .nikah {
        color: #EDC6A4;
        font-size: 4rem;
        font-family: 'Great Vibes', cursive;
        text-align: center;
        
    }

    .isian, #resepsi1 {
        color: whitesmoke;
        font-size: 20px;
        text-align: center;
    }

    .resepsi1 {
        margin-top: 20px;
        color: #EDC6A4;
        font-size: 4rem;
        font-family: 'Great Vibes', cursive;
        text-align: center;
    }
}    

